:root {
  --base-color: #FAFAFA;
  --base-variant: #FCFDFD;
  --text-color: #191A1B;
  --secondary-text: #555555;
  --primary-color: #EAEAEA;
}

.darkmode {
  --base-color: #162332;
  --base-variant: #1c2b3b;
  --text-color: #ffffff;
  --secondary-text: #6decac;
  --primary-color: #24374c;
  --accent-color: #2d435b;
}

body {
  padding: 20px 20px 20px 20px;
  background-color: var(--base-color);
  font-family: "Space Grotesk";
}

body {
  opacity: 0;
  transition: opacity 1s ease;
}
body.fade-in {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
  outline: none;
}

h2 {
  color: var(--text-color);
}

p {
  color: var(--text-color);
}

button {
  cursor: pointer;
}

.invert-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.container-main {
  width: auto;
  height: 92vh;

  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 1em;
}

.item {
  background-color: var(--base-variant);
  border-radius: 12px;

  margin: 0;
  padding: 0;
}

.memvis-1 {
  grid-row: 1 / 4;
  grid-column: 1 / 15;
  background-color: var(--base-color);
  box-shadow: none;
  border: none;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin: 0;
  padding: 0;
}

.memvis-1 h1 {
  margin: 0 0 0 0;
  padding: 0;

  font-weight: 700;
  font-size: 74px;
  color: var(--secondary-text);
}

.memvis-1 p {
  margin: 0;
  padding: 0;

  font-size: 16px;
}

.memvis-1 .author {
  margin: 0 0 8px 0;
  padding: 4px 10px;

  font-family: "Space Grotesk";
  font-size: 16px;

  background-color: var(--secondary-text);
  color: var(--base-color);
  border: transparent;
  border-radius: 8px;
  transition: 0.2s;
}

.memvis-1 .author:active {
  opacity: 0.7;
}

.memvis-1 .subheading {
  gap: 16px;
  display: flex;
  align-items: center;
}

.addp-2 {
  margin: 0;
  padding: 0 20px;

  grid-row: 4 / 21;
  grid-column: 1 / 7;

  display: flex;
  flex-direction: column;
}

.addp-2 h2 {
  margin: 16px 0 0 0;
  padding: 0;
}

.addp-2 .process-labels-container {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  max-width: 298px;
}

.addp-2 .process-input-container {
  margin: 0 0 6px 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  gap: 0px;
}

.num-inputs {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 12px;
  width: 309px;
}

.button-container {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 12px;
}

.addp-2 .process-input-container input {
  margin: 0;
  padding: 0 10px;
  background-color: var(--primary-color);
  border: transparent;
  border-radius: 4px;
  font-family: "Space Grotesk";
  font-size: 15px;
  color:var(--secondary-text);
}

.inpv1 {
  min-width: 40px;
}

.inpv2 {
  max-width: 18px;
  min-height: 28px;
  text-align: center;
}

.addp-2 .process-input-container button {
  margin: 0;
  padding: 0;

  min-width: 28px;
  min-height: 28px;

  border: transparent;
  border-radius: 4px;
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.addp-2 .del-button {
  background-color: var(--primary-color);
}

.add-green {
  width: 18px;
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
}

.del-red {
  width: 18px;
  filter: invert(92%) sepia(11%) saturate(7485%) hue-rotate(299deg) brightness(95%) contrast(113%);
}

.edit-yellow {
  width: 16px;
  filter: invert(95%) sepia(82%) saturate(471%) hue-rotate(10deg) brightness(98%) contrast(106%);
}

.turn-white {
  filter: invert(100%) sepia(7%) saturate(271%) hue-rotate(93deg) brightness(101%) contrast(98%);
}

.processes-container {
  margin: 0;
  padding: 0;

  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.user-inputs {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  width: 295px;

  font-size: 15px;
}

.edit-del-container {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.edit-del-container button {
  margin: 0;
  padding: 0;

  min-width: 28px;
  min-height: 28px;

  background-color: var(--text-color);
  border: transparent;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mems-3 {
  margin: 0;
  padding: 0 16px;

  grid-row: 4 / 6;
  grid-column: 7 / 13;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mems-3 .container-mems-input {
  display: flex;
  gap: 12px;
}

.mems-3 input {
  margin: 0;
  padding: 0 10px;
  min-height: 28px;
  max-width: 60px;

  font-family: "Space Grotesk";
  font-size: 15px;
  color: var(--secondary-text);
  background-color: var(--primary-color);
  border: transparent;
  border-radius: 6px;
}

.mems-3 button {
  margin: 0;
  padding: 4px 12px;

  background-color: var(--primary-color);
  color: var(--secondary-text);
  font-family: "Space Grotesk";
  border: transparent;
  border-radius: 6px;
  transition: 0.2s;
}

.mems-3 button:hover {
  background-color: var(--secondary-text);
  color: var(--base-variant);
}

.mems-3 button:active {
  opacity: 0.6;
}

.comp-4 {
  margin: 0;
  padding: 0 16px;

  grid-row: 6 / 8;
  grid-column: 7 / 13;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comp-4 .container-comp-input {
  display: flex;
  gap: 12px;
}

.comp-4 input {
  margin: 0;
  padding: 0 10px;
  min-height: 28px;
  max-width: 60px;

  font-family: "Space Grotesk";
  font-size: 15px;
  color: var(--secondary-text);
  background-color: var(--primary-color);
  border: transparent;
  border-radius: 6px;
}

.comp-4 button {
  margin: 0;
  padding: 4px 12px;

  background-color: var(--primary-color);
  color: var(--secondary-text);
  font-family: "Space Grotesk";
  border: transparent;
  border-radius: 6px;
  transition: 0.2s;
}

.comp-4 button:hover {
  background-color: var(--secondary-text);
  color: var(--base-variant);
}

.comp-4 button:active {
  opacity: 0.6;
}

.hole-5 {
  margin: 0;
  padding: 0 16px;

  grid-row: 8 / 10;
  grid-column: 7 / 13;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hole-5 .container-hole-input {
  display: flex;
  gap: 12px;
}

.hole-5 input {
  margin: 0;
  padding: 0 10px;
  min-height: 28px;
  max-width: 60px;

  font-family: "Space Grotesk";
  font-size: 15px;
  color: var(--secondary-text);
  background-color: var(--primary-color);
  border: transparent;
  border-radius: 6px;
}

.hole-5 button {
  margin: 0;
  padding: 4px 12px;

  background-color: var(--primary-color);
  color: var(--secondary-text);
  font-family: "Space Grotesk";
  border: transparent;
  border-radius: 6px;
  transition: 0.2s;
}

.hole-5 button:hover {
  background-color: var(--secondary-text);
  color: var(--base-variant);
}

.hole-5 button:active {
  opacity: 0.6;
}

.onef-6 {
  min-width: 60px;
  min-height: 60px;

  grid-row: 4 / 6;
  grid-column: 13 / 14;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor:pointer;
  transition: 0.6s, opacity 0.2s;
}

.onef-6:hover {
  background-color: var(--base-variant);
}

.onef-6 img {
  transition: filter 0.6s;
}

.onef-6:hover img {
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
}

.onef-6:active {
  opacity: 0.6;
}

.fullf-7 {
  min-width: 60px;
  min-height: 60px;

  grid-row: 4 / 6;
  grid-column: 14 / 15;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor:pointer;
  transition: 0.6s, opacity 0.2s;
}

.fullf-7:hover {
  background-color: var(--base-variant);
}

.fullf-7 img {
  transition: filter 0.6s;
}

.fullf-7:hover img {
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
}

.fullf-7.active {
  background-color: var(--base-variant);
}

.fullf-7.active img {
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
  transition: filter 0.6s;
}

.oneb-8 {
  min-width: 60px;
  min-height: 60px;

  grid-row: 6 / 8;
  grid-column: 13 / 14; 

  display: flex;
  justify-content: center;
  align-items: center;

  cursor:pointer;
  transition: 0.6s, opacity 0.2s;
}

.oneb-8:hover {
  background-color: var(--base-variant);
}

.oneb-8:active {
  opacity: 0.6;
}

.oneb-8 img {
  transition: filter 0.6s;
}

.oneb-8:hover img {
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
}

.fullb-9 {
  min-width: 60px;
  min-height: 60px;

  grid-row: 6 / 8;
  grid-column: 14 / 15;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor:pointer;
  transition: 0.6s;
}

.fullb-9:hover {
  background-color: var(--base-variant);
}

.fullb-9 img {
  transition: filter 0.6s;
}

.fullb-9:hover img {
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
}

.fullb-9.active {
  background-color: var(--base-variant);
}

.fullb-9.active img {
  filter: invert(86%) sepia(13%) saturate(1468%) hue-rotate(88deg) brightness(98%) contrast(88%);
  transition: filter 0.6s;
}

.ftu-10 {
  min-height: 60px;
  margin: 0;
  padding: 0 16px;

  grid-row: 8 / 10;
  grid-column: 13 / 15;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftu-10 .ftu-output-container {
  min-width: 48px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border-radius: 6px;
}

.ftu-10 .ftu {
  margin: 0;
  padding: 0;
  color: var(--secondary-text);
  font-size: 15px;
}

.chart-11 {
  margin: 0;
  padding: 0 16px;

  grid-row: 10 / 21;
  grid-column: 7 / 15;
}

.chart-11 .chart-container {
  margin: 0 0 0 9px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.chart-11 h2 {
  margin: 16px 0 12px 0;
  padding: 0;
}

.chart-11 .cell-container {
  margin: 0 0 6px 0;
  padding: 0;

  max-height: 50px;
  min-width: 30px;
  text-align: center;
}

.chart-11 .cell-container .tu {
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 10px;
}

.chart-11 .cell {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color);
  border-radius: 8px;
}

.chart-11 .cell p {
  color: var(--secondary-text);
}

.chart-11 .time-j {
  color: var(--secondary-text);
}

.chart-11 .cell-ch {
  background-color: #90dbf4;
  border-color: #90dbf4;
}

.chart-11 .cell-ch p {
  color: var(--base-color);
}

.chart-11 .time-ch {
  color: #90dbf4;
}

.chart-11 .cell-sc {
  background-color: #a3c4f3;
  border-color: #a3c4f3;
}

.chart-11 .cell-sc p {
  color: var(--base-color);
}

.chart-11 .time-sc {
  color: #a3c4f3;
}

.chart-11 .cell-na {
  background-color: #cfbaf0;
  border-color: #cfbaf0;
}

.chart-11 .cell-na p {
  color: var(--base-color);
}

.chart-11 .time-na {
  color: #cfbaf0;
}

.sim-12 {
  margin: 0;
  padding: 0 20px;

  grid-row: 1 / 21;
  grid-column: 15 / 21;
}

.sim-12 .simulation-container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 86%;
  gap: 6px;

  text-align: center;
  background-color: var(--base-variant);
  border-radius: 8px;
}

.memory-div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
}

.process-block {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: var(--base-variant);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hole {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 8px;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .sim-12 .block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 10px;
  font-weight: 400;
} */

/* .blk1 {
  background-color: #d188ff;
}
.blk2 {
  background-color: #a3c6ff;
}
.blk3 {
  background-color: var(--primary-color);
}
.blk4 {
  background-color: #e4ff92;
}
.blk5 {
  background-color: #ffd392;
}
.blk6 {
  background-color: #ff9292;
} */